body {
    background-image: "https://images.unsplash.com/photo-1605020420620-20c943cc4669?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Z3VpdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info{
    text-align: center;
}



.home-info {
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    text-align: center;
    background-size: 400%;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: 600;
    word-spacing: 2px;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(46, 97, 236);
    transition: 0.5s ease-in-out;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    padding: 0rem;
    justify-content: center;
}

.left {
    height: 45rem;
    width: 45vw;
    display: flex;
    padding: 2rem;
}



.right {
    height: 25rem;
    width: 35vw;
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 768px) {

    .image-text {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .left img {
        
    }

    .right {
        height: auto;
        width: auto;
    }

    .home {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

