.small {
    text-align: center;
    height: 35rem;
    width: 20rem;
    background-color: rgb(184, 102, 255);
    margin: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.medium {
    text-align: center;
    height: 35rem;
    width: 20rem;
    background-color: rgb(106, 109, 255);
    margin: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

}
.large {
    text-align: center;
    height: 35rem;
    width: 20rem;
    background-color: rgb(89, 253, 111);
    margin: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.packs {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 2rem;
    height: 100vh;

}

.title-header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

.container{
    display: flex;
    flex-direction: row;
}

.item-centering{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}