.info-text {
    display: flex;
    padding: 20px;
    font-size: 20px;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.interests {
   
}

.about-box {
   
}

.info-text p {
    justify-content: space-evenly;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.about-header {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 5rem;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .info-text {
        width: 90vw;
    }
}

@media screen and (max-width: 1000px) {
    .info-text {
        
        width: 90vw;
    }
}