.hero {
    margin-top: 0;
    padding: 20px;
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .hero h1 {
    text-align: center;
    font-size: 30px;
  }

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    padding: 2rem;
}

.home-container a {
    color: blue;
}

.left {
    height: 30rem;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    margin-left: 100px;
    padding: 10px;
}

.right {
    height: 10rem;
    width: 50%;

    display: flex;
    flex-direction: column;
    font-size: 20px;

}

.right p {
    align-items: center;
}