.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: #2d2d32;
}

.socials {
    font-size: 40px;
    justify-content: space-evenly;
    display: flex;
}

.rights-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}