* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "nunito", sans-serif;
    background-image: "./assets/bg2.jpg";
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top:auto;
}